{% extends 'base/layout.twig' %}

{% set heading = 'Dashboard' %}
{% set active = 'Dashboard' %}
{% block content %}

    {% if closingEntry %}
        <!-- % Fortschritt -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fortschritt in
                                    Prozent
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ onLorryProgress }}
                                            %
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ onLorryProgress }}%"
                                                 aria-valuenow="{{ onLorryProgress }}" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Anzahl Teile -->
            <div class="col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Fortschritt in
                                    Teilen
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ cntNotOnLorryParts }}
                                    / {{ cntAllParts }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Heruntergenommene Teile</h4>
                {% for scan in orderScans %}
                    {% if not scan.onLorry %}
                        <p>{{ scan.part.name }} </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <h4>Aktuell ist kein Kommissionierwagen ausgewählt!</h4>
    {% endif %}
{% endblock %}

{% block javascript %}
function update(update) {
    location.reload();
}

$(document).ready(function () {
    var socket = io();
    socket.on('lorryUpdate', update);
});
{% endblock %}